* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 40px;
  padding: 1em 0 0 0;
}

p {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 35vw;
  height: 100vh;

  background-color: rgb(245, 194, 100);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 2em;
  padding-right: 2em;
  border-radius: 5% 0 0 5%;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
}
.rules {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0;
}

#startBtn {
  padding: 0.8em 1.2em;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #a31f1f;
  color: rgb(255, 255, 255);
  cursor: pointer;
  opacity: 0.4; /* disabled look */
}

#startBtn.enabled {
  opacity: 1;
  cursor: pointer;
}
